.task-tracker {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid rgb(212, 210, 210);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-task{
    width: 500px;
    margin-right: 3px;
    padding: 10px ;
    border-radius: 3px;
    border: 1px solid rgb(212, 210, 210);
}

.input-task:focus{
    outline: none;
}

.add-btn {
    margin-left: 3px;
    padding: 9px 12px;
    border: 1px solid rgb(115, 206, 255);
    background-color:rgb(115, 206, 255);
    cursor: pointer;
    color: white;
}

.add-btn:hover{
    background-color: rgb(89, 178, 227);
    transition: 0.3s;
}

.task-list {
    margin-top: 20px;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task.completed {
    text-decoration: line-through;
    color: #666;
}

.task button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.task button:hover {
    background-color: #3e8e41;
}

.filter {
    margin: 20px 10px 10px 10px;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 5px 8px;
    font-size: 14px;
    border: 1px solid rgb(212, 210, 210);
}


